.ui-uindow {
  position: fixed;
  top: 0;
  left: 0;
  display: inline-block;
  z-index: 2000;
  .ui-uindow--wrapper {
    border-radius: 0.6rem;
    overflow: hidden;
    min-width: 20rem;
    box-shadow: 5px 5px 0px 0px var(--ui-color-shadow);
    .ui-uindow--header {
      height: var(--ui-window-height);
      background-color: var(--ui-color-primary);
      display: flex;
      justify-items: center;
      font-size: 16px;
      .ui-uindow--action {
        padding: 0 12px;
        display: flex;
        align-items: center;
        font-size: inherit;
        color: inherit;
        &Btn {
          width: 26px;
          height: 26px;
          border-radius: 50%;
          outline: none;
          border: none;
          padding: 0;
          margin-left: 2px;
          cursor: pointer;
          background-color: transparent;
          color: currentColor;
          fill: currentColor;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          svg {
            width: 100%;
            height: 100%;
          }
        }
      }
      .ui-uindow--title {
        width: calc(100% - 216px);
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        cursor: default;
      }
    }
    .ui-uindow--body {
      background-color: var(--ui-text-color);
      min-height: 6rem;
    }
  }
}

.ui-uindow.draggable {
  .ui-uindow--header {
    -webkit-user-select: none;
    user-select: none;
  }
}

.ui-uindow-fade-in {
  animation: uindow-fade-in var(--translate-duration) ease-in;
}
.ui-uindow-fade-out {
  animation: uindow-fade-out var(--translate-duration);
}

@keyframes uindow-fade-in {
  0% {
    transform: scale(0, 0.4);
    opacity: 0.2;
  }
  50% {
    transform: scale(0.65, 0.4);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes uindow-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
