.ui-slider {
  width: 100%;
  height: 1.6rem;
  display: flex;
  align-items: center;
  position: relative;
  user-select: none;
  .ui-slider--track {
    flex: 1;
    height: 4px;
    border-radius: 2px;
    background-color: var(--ui-color-info);
    cursor: pointer;
  }
  .ui-slider--button-container {
    position: absolute;
    cursor: pointer;
    .ui-slider--button-default {
      height: 8px;
      width: 24px;
      border-radius: 4px;
      background-color: #80736e;
    }
  }
  .ui-slider--trace {
    position: absolute;
    height: 4px;
    left: 0;
    border-radius: 2px;
    // background-color: var(--ui-color-primary);
    cursor: pointer;
  }
}
