.ui-radio-group {
  font-size: inherit;
  background-color: var(--ui-text-color);
  .ui-radio-option {
    line-height: var(--ui-line-height-base);
    color: var(--ui-color-info);
    font-weight: bold;
    cursor: pointer;
    padding: 0 4px;
  }
  .ui-radio-option--selected {
    color: var(--ui-text-color);
    background-color: var(--ui-color-info);
  }
}