
.ui-scrollbar {
  --ui-color-thumb: var(--ui-color-info);
}

.ui-scrollbar {
  position: relative;
  width: 100%;
  overflow: hidden;
  scrollbar-width: none;
  &__container {
    position: relative;
    width: 100%;
    overflow-y: auto;
    // transition: .3s;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__bar {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 6px;
    height: 100%;
    opacity: 0;
    transition: .3s;
    .ui-scrollbar__thumb {
      position: absolute;
      right: 0;
      width: 100%;
      background-color: var(--ui-color-thumb);
      opacity: 0.3;
      border-radius: 4px;
      cursor: pointer;
      user-select: none;
      transition: opacity .3s;
      &:hover {
        opacity: 0.6;
      }
    }
  }
  &__container:hover + .ui-scrollbar__bar, &__bar:hover, &__bar:active {
    opacity: 1;
  }
}
