:root {
  --animation-duration: 0.4s;
  --timing-function-ease-out: cubic-bezier(0.075, 0.82, 0.165, 1);
  --timing-function-ease-in: cubic-bezier(0.77, 0, 1, 1);
  --timing-function-out-back: cubic-bezier(0, 1.04, 0.57, 1.02)
  --timing-function-ease-in-out: ease-in-out;
}

.ui--animated {
  animation-duration: var(--animation-duration);
  animation-fill-mode: both
}

// 从下方进入
.fadeUp-enter-active {
  animation-name: fadeUpIn;
  animation-duration: 1s;
  animation-timing-function: var(--timing-function-ease-out);
}
.fadeUp-leave-active {
  animation-name: fadeUpOut;
  animation-duration: .3s;
  animation-timing-function: var(--timing-function-ease-out);
}
@keyframes fadeUpIn {
  0% {
    opacity: 0;
    transform: translateY(400%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeUpOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

// 弹跳进入
.bounce-enter-active {
  animation-name: bounceIn;
  animation-duration: 1s;
}
.bounce-leave-active {
  animation-name: bounceOut;
  animation-duration: 1s;
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -50%, 0)
  }
  23%, 57%, to {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0)
  }
  40% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -36%, 0) scaleY(1.1)
  }
  70% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -24%, 0) scaleY(1.05)
  }
  83% {
    opacity: 1;
    transform: translateZ(0) scaleY(0.95);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
  }
  92% {
    opacity: 1;
    transform: translate3d(0, -7.5%, 0) scaleY(1.02)
  }
}
@keyframes bounceOut {
  20% {
    transform: scale3d(.9, .9, .9)
  }

  50%, 55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1)
  }

  to {
    opacity: 0;
    transform: scale3d(.3, .3, .3)
  }
}

// 模糊进出
.blur-enter-active {
  animation-name: blurIn;
  animation-duration: 1.6s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  will-change: filter;
}

.blur-leave-active {
  animation-name: blurOut;
  animation-duration: 1.6s;
  animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  will-change: filter;
}

@keyframes blurIn {
  from {
    opacity: 0;
    filter: blur(10px);
    transform: scale3d(1.5, 1, 1);
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes blurOut {
  from {
    opacity: 1;
    filter: blur(0);
    transform: scale3d(1, 1, 1);
  }
  to {
    opacity: 0;
    filter: blur(10px);
    transform: scale3d(0.5, 0.5, 1);
  }
}

// 旋转进出
.rotate-enter-active {
  animation-name: rotateIn;
  animation-duration: .4s;
  animation-timing-function: var(--timing-function-ease-out);
}
.rotate-leave-active {
  animation-name: rotateOut;
  animation-duration: .4s;
  animation-fill-mode: forwards;
}
@keyframes rotateIn {
  0% {
    transform: rotate3d(0, 0, 1, 15deg);
    opacity: 0;
    scale: 1.3;
  }
  30% {
    transform: rotate3d(0, 0, 1, 15deg);
    opacity: 1;
    scale: 1;
  }
  to {
    transform: rotate3d(0, 0, 1, 0deg);
    opacity: 1;
    scale: 1;
  }
}
@keyframes rotateOut {
  from {
    transform: rotate3d(0, 0, 1, 0deg);
    opacity: 1;
  }
  to {
    transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0;
  }
}

// 缩小进出
.scale-enter-active {
  animation-name: scaleIn;
  animation-duration: .4s;
  animation-timing-function: var(--timing-function-ease-out);
}
.scale-leave-active {
  animation-name: scaleOut;
  animation-duration: .4s;
  animation-timing-function: var(--timing-function-ease-out);
}
@keyframes scaleIn {
  0% {
    transform: scale(1.3);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scaleOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

// 翻转进出
.flip-enter-active {
  animation-name: flipIn
}
.flip-leave-active {
  animation-name: flipOut
}
@keyframes flipIn {
  from {
    transform: translateX(100px) rotateY(90deg);
  }
  to {
    transform: translateY(0) rotateY(0deg);
  }
}
@keyframes flipOut {
  from {
    transform: translateY(0) rotateY(0deg);
  }
  to {
    transform: translateX(-100px) rotateY(90deg);
  }
}