.ui-fdwindow {
  min-width: 100px;
  border-radius: 4px;
  overflow: hidden;
  &--header {
    position: relative;
    height: var(--ui-window-height-mini);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    .ui-fdwindow--title {
      font-size: var(--ui-font-size-base);
    }
    .ui-fdwindow--action {
      position: absolute;
      display: flex;
      right: 0;
      height: var(--ui-window-height-mini);
      box-sizing: border;
    }
  }
  .ui-fdwindow--body {
    transition: height .3s;
    font-size: var(--ui-font-size-mini);
    overflow-y: scroll;
  }
  .ui-fdwindow--footer {
    height: var(--ui-window-height-mini);
  }
}