.ui-menu {
  display: flex;
  flex-wrap: nowrap;
  user-select: none;
  background-color: var(--ui-color-info);
  width: 100%;
  &-sub-menu {
    position: relative;
    .ui-menu-menu-item {
      width: 100%;
      padding: 0 0.8rem;
      border-radius: 0.2rem;
      transition: all .1s;
      background-color: var(--ui-color-info);
      &:hover {
        background-color: var(--ui-color-info-light);
      }
      &:active {
        background-color: var(--ui-color-info-dark);
      }
      &.focus {
        background-color: var(--ui-color-info-dark);
      }
    }
    .ui-menu-menu-container {
      position: absolute;
      background-color: var(--ui-color-info-light);
      padding: 0.2rem;
      border-radius: 0.2rem;
      .ui-menu-sub-menu-item {
        display: inline;
        width: 100%;
        text-align: left;
        white-space: nowrap;
        padding: 0.1rem 1rem;
        border-radius: 0.2rem;
        transition: all .1s;
        &:hover {
          background-color: var(--ui-color-info-dark);
        }
      }
    }
  }
  &-sub-menu:focus {
    .ui-menu-menu-container {
      display: block;
    }
  }

  
}