@use './common/color.scss';
@use './common/animation.scss';
@use './common/size.scss';
@use './common/layout.scss';
@use './common/variable.scss';
@use './common/base.scss';


// :root {
//   --ui-text-color: #181818;
//   --ui-bg-color: #ffefea;
// }

// .dark {
//   --ui-text-color: #ffefea;
//   --ui-bg-color: #181818;
// }
