.uindow-icon {
  font-size: inherit;
  color: inherit;
  fill: currentColor;
  // background-color: var(--ui-color-info);
  border-radius: 10%;
  transition: .1s;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  &.clickable {
    cursor: pointer;
  }
  // &.clickable:hover {
  //   background-color: var(--ui-color-info-light);
  // }
  // &.clickable:active {
  //   background-color: var(--ui-color-info-dark);
  // }
}

.uindow-icon-default {
  height: 44px;
  width: 44px;
  svg {
    width: 60%;
    height: 60%;
  }
}

.uindow-icon-small {
  height: 36px;
  width: 36px;
  svg {
    width: 60%;
    height: 60%;
  }
}

.uindow-icon-large {
  height: 56px;
  width: 56px;
  svg {
    width: 60%;
    height: 60%;
  }
}

.uindow-icon-auto {

  svg {
    width: 60%;
    height: 60%;
  }
}