@use "./layout.scss";
@use "./animation.scss";


:root {
  --header-height: 52px; /* 顶部导航栏高度 */
}

body, html {
  height: 100%;
  padding: 0;
  overflow: hidden;
  margin: 0;
  font-family: 'Pragmatica SlabserifBold', sans-serif; /* 使用自定义字体 */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

@font-face {
  font-family: 'Pragmatica SlabserifBold'; /* 自定义字体名称 */
  src: url('/Pragmatica-SlabserifBold.otf') format('truetype'); /* 路径和格式 */
  font-weight: normal; /* 可选：定义字重 */
  font-style: normal;  /* 可选：定义样式（如italic） */
}

.page-content {
  padding: 40px;
}