body, html {
  height: 100%;
  padding: 0;
  overflow: hidden;
  margin: 0;
  font-family:
    Comic Sans MS,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}
