.ui-progress {
  
  .ui-progress--outer {
    position: relative;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--ui-color-info);
    .ui-progress--inner {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      background-color: var(--ui-color-light);
      border-radius: 10px;
      transition: width 0.6s ease
    }
  }
}