.ui-fdwindow {
  min-width: 100px;
  border-radius: 4px;
  overflow: hidden;
  &__header {
    position: relative;
    height: var(--ui-window-height-mini);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    .ui-fdwindow__title {
      color: var(--ui-text-color);
      font-size: var(--ui-font-size-base);
    }
    .ui-fdwindow__action {
      color: var(--ui-text-color);
      position: absolute;
      display: flex;
      right: 0;
      height: var(--ui-window-height-mini);
      box-sizing: border;
    }
  }
  .ui-fdwindow__body {
    transition: height .3s;
    font-size: var(--ui-font-size-mini);
    overflow-y: scroll;
  }
  .ui-fdwindow__footer {
    color: var(--ui-text-color);
    height: var(--ui-window-height-mini);
  }
}