.ui-menu {
  display: flex;
  flex-wrap: nowrap;
  user-select: none;
  background-color: var(--ui-color-info);
  width: 100%;
  font-size: var(--ui-font-size-mini);
  &__subMenu {
    position: relative;
    line-height: var(--ui-line-height-base);
    .ui-menu__item {
      width: 100%;
      padding: 0 10px;
      border-radius: 3px;
      transition: all .1s;
      background-color: var(--ui-color-info);
      &:hover {
        background-color: var(--ui-color-info-light);
      }
      &:active {
        background-color: var(--ui-color-info-dark);
      }
      &.focus {
        background-color: var(--ui-color-info-dark);
      }
    }
    .ui-menu__dropdownMenu {
      position: absolute;
      background-color: var(--ui-color-info-light);
      // padding: 0.2rem;
      border-radius: 3px;
      overflow: hidden;
      .ui-menu__subItem {
        display: inline;
        width: 100%;
        text-align: left;
        white-space: nowrap;
        padding: 2px 16px;
        // border-radius: 0.2rem;
        transition: all .1s;
        &:hover {
          background-color: var(--ui-color-info-dark);
        }
      }
    }
  }
  &-sub-menu:focus {
    .ui-menu-menu-container {
      display: block;
    }
  }
}