@use "./layout.scss";
@use "./animation.scss";


:root {
  --header-height: 52px; /* 顶部导航栏高度 */
  --border-color: #dcdfe6; /* 边框颜色 */
  --color-bg: #fff;
  --color-text: #242424;
}

body, html {
  height: 100%;
  padding: 0;
  overflow: hidden;
  margin: 0;
  font-family: 'Pragmatica SlabserifBold', sans-serif; /* 使用自定义字体 */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-bg);
  color: var(--color-text);
  // background-color: #fff;
  // color: #242424;
}

.dark {
  --color-bg: #242424;
  --color-text: rgba(255, 255, 255, 0.87);
  --border-color: #4C4D4F; /* 边框颜色 */
}

// @font-face {
//   font-family: 'Pragmatica SlabserifBold'; /* 自定义字体名称 */
//   src: url('/Pragmatica-SlabserifBold.otf') format('truetype'); /* 路径和格式 */
//   font-weight: normal; /* 可选：定义字重 */
//   font-style: normal;  /* 可选：定义样式（如italic） */
// }

.page-content {
  padding: 40px;
}
